*{
    margin: 0;
    padding: 0;
    font-family: Manjari;
}
body{
    background: url('assets/wp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.box{
    width: 35%;
    height: 330px;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    background: rgba(186, 189, 183, 0.582);
    left: 30%;
}
.box h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(243, 235, 235);
}
.form-control{
    width: 100%;
    height: 6vh;
    margin-bottom: 25px;
}
.form-control label{
    margin-left: 40px;
    font-size: 18px;
    color: rgb(243, 235, 235);
}
.form-control input{
    width: 60%;
    height: 5vh;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 5px;
    outline: none;
}
.form-link{
    margin: 20px 0px;
    text-align: center;
}
.form-link a{
    color: aliceblue;
    text-decoration: none;
}
.form-btn{
    width: 100%;
    height: 6vh;
}
.form-btn button{
    width: 60%;
    height: 6vh;
    margin: auto;
    display: block;
    background-color: rgb(27, 26, 26);
    border: none;
    outline: none;
    color: rgb(243, 235, 235);
    cursor: pointer;
}
.form-btn button:hover{
    background-color: rgb(243, 235, 235);
    color: rgb(27, 26, 26);
    transition: 0.5s ease-in;
}